@charset "utf-8";
a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: #0288D1;
    overflow: hidden;
}

#logo {
    position: relative;
    margin: 1% auto;
    vertical-align: middle;
    text-align: center;
    max-width: 1170px;
}

@media screen and (max-height:600px) {
    #logo {
        width: auto;
        height: 150px;
    }
    #ninja {
        height: 100%;
    }
    #ninja2 {
        height: 100%;
    }
    .svg {
        width: 2rem;
        height: 2rem;
        fill: #FFF;
    }
}

@media screen and (min-height:601px) {
    #logo {
        width: 100%;
        height: 100%;
    }
    #ninja {
        height: auto;
    }
    #ninja2 {
        height: auto;
    }
    .svg {
        width: 3rem;
        height: 3rem;
        fill: #FFF;
    }
}

#ninja {
    width: 100%;
    color: #000;
    fill: none;
    stroke: #FFF;
    stroke-width: .265;
    stroke-miterlimit: 100;
}

#ninja2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.art {
    width: 100%;
    max-width: 1170px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

.section {
    margin: 2% 0;
}
